:root{
    --cornflower: #E7E9FC;
    --slate: #434455;
    --cloud: #F4f4fd;
    --iris: #4D5AE5;
    --bgnavyblue: #2e2f42;
    --colorwhite: #fff;
}





body { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--primarybg,#FFF);
    color:var(--maincolor, #2e2f42);
}
h3{
    color: var(--maincolor);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}
p{
    color: var(--slate);
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.navstudio{
    color: var(--maincolor);
    width: 44px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-right: 76px;
    text-decoration: none;
   
}
.navheader .web {
    width: 71px;
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.navheader .aheader {
    color: var(--maincolor);
    font-size: inherit;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    font-weight: 500;
    text-decoration: none;
    font-weight: 500;
}


.addheader{
    color: var(--slate);
    font-size: inherit;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.studioheader {
    width: 1440px;
    border-bottom: 1px solid var(--cornflower);   
}

.navheader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 25.5px 0px;
    
  
}
.navheader > ul{
    display: flex;
    margin-right: 200px;
    margin-left: 76px; 
   
  
}
.navheader ul li  {
    font-weight: 500;
    padding-left: 40px;
    list-style-type: none;
   
}

.aheader:focus {
    color: var(--iris);   
}
.aheader:hover {
    color: var(--iris);   
}

.addheader:focus {
    color: var(--iris);   
}
.addheader:hover {
    color: var(--iris);   
}

.section-container{
    width: 1158px;
    /* padding: 0px 15px; */
    /* background-color: pink; */
    margin-left: auto;
    margin-right: auto;
}

/* Main hero section */
.studiohero {
display: block;
 width: 1440px;
padding-top: 120px;
padding-bottom: 120px;
flex-shrink: 0;
background: var(--bgnavyblue);
}
.studiohero h1 {
    margin: 0px;
    display: block;
     width: 496px;
    /* height: 120px; */ 
    color: var(--colorwhite);
    text-align: center;
    font-size: 56px;
    line-height: 1.07em;
    font-weight: 700;
    gap: 10px;
    letter-spacing: 1.12px;
    /* margin-left: 400px; */
   
    margin: 0px 331px 48px 331px ;
  
}
   
.studiohero .herobutton{
    display: block;
    align-items: center;
    font-family: inherit;
    width: 169px;
    /* height: 56px; */
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 495px 0px 496px;
    /* button text */
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
}
.studiohero .herobutton:active,
.studiohero .herobutton:hover{
    background-color: var(--cloud);
    cursor: pointer;
    transition: 0.5s;
    color: black;  
}
.studiohero .herobutton:focus {
    background-color:var(--cloud);
    color: black;
}

/* section 2 */

.studiofeature{
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.studiofeature ul{
    display: inline-flex;
}

.studiofeature ul li{
    list-style-type: none;
}  


.studiofeature h3{
    width: 264px;
    margin-bottom: 8px;
   
}

.studiofeature p{
    width: 264px;
   
}
/* main 3rd section */

.studioimage{
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.studioimage h2{
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


.studioimage li{
    border: 1px solid var(--cornflower);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin-right: 5px;
   
}
.studioimage li:hover{
    box-shadow: 1px 1px 5px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
}


/* main 4rth section */

.studioteam {
    width: 1440px;
    flex-shrink: auto;
    background: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;

}

.studioteam h2 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
   
}

.studioteam li {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    margin-right: 5px;
    justify-content: center;
    align-items: center; 
    border-radius: 0px 0px 4px 4px;
    background: var(--primarybg);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.studioteam h3 {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 32px;
}
.studioteam p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  
}

.studioteam ul li:hover{
    box-shadow: 1px 1px 5px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
}


/* FOOTER */

/* FOOTER */

.mainfoot {
    width: 1440px;
    flex-shrink: 0;
    background: var(--bgnavyblue);
    padding-top: 120px;
    padding-bottom: 120px;

}



.mainfoot .web {
    width: 44px;
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}

.mainfoot .footstudio {
    color: var(--colorwhite);
    width: 71px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-right: 76px;
    display: flex;
    height: 21px;
    text-decoration: none;
    height: 21px;
    text-decoration: none;
   
}

.mainfoot p {
    color: var(--cloud);
    width: 264px;
}





/* PORTFILIO CSS */

/* button section portfolio */

.section-button{
    width: 1440px;
    padding-top: 120px;
}
.section-button ul {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-left: 286px;
    list-style-type: none;
   

}

.port-button {
    color: var(--iris);
    text-align: center;
    display: flex;
    font-family: inherit;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    font-size: inherit;
    font-weight: inherit;

    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
   
}

.port-button:active,
.port-button:hover {
    background-color: var(--iris);
    cursor: pointer;
    color: var(--colorwhite);
}

.port-button:focus {
    background-color: var(--iris);
    color: var(--colorwhite);
}

/*  main section Portfolio */



.portsection{
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portsection ul li {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--cornflower);
    background: var(--colorwhite);
    margin-bottom: 32px;
    list-style-type: none;
    margin-right: 5px;
    
}

.portsection li h3{
    margin-bottom: 8px;
    margin-left: 16px;
    margin-top: 32px;

}
.portsection li p{
    
    font-weight: 400;
    margin-left: 16px;
}

.portsection li:hover {
    box-shadow: 1px 1px 4px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
} 




